<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/globalHead'); %>
  <link rel="stylesheet" href="css/search.css" type="text/css" media="all" />
 
</head>
<body>
  <%- include('partials/header', {searchQuery: query}); %>
  
  <h1 class="heading">Search Results</h1>
  
  <div id="products">
    <% products.forEach((i) => { %>
    <div class="product">
      <!-- <img class="productImg" src="https://s3.amazonaws.com/www-inside-design/uploads/2020/10/aspect-ratios-blogpost-1x1-1-768x768.png" alt="product" /> -->
      <!-- <img class="productImg" src="images/productImage.jpg" alt="product" /> -->
      <img class="productImg" src="<%= i.image %>" alt="product" />
      <div class="productInfo">
        <div class="productTitle">
          <%= i.title %>
        </div>
        <div class="productPrice">
          <%= (i.price * 20).toFixed(2) %> &#x20B9; <span class="priceInfo">Per Unit</span>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  
  <script src="/js/search.js" type="text/javascript" charset="utf-8"></script>
  <%- include('partials/footer'); %>
</body>
</html>